









<!--<h1> Table Test </h1>
<%= #form_for @table do |f| %>
    <div class="fleid">
        <%= #f.label :university %> <br />
        <%= #f.text_field :university %>
        
    </div>
    
    <div class ="fleid">
        <%= #f.label :subject_id %> <br />
        <%= #f.collection_select :subject_id, Subject.order( :university), :id, :name, include_blank: true %>
    </div>
    <div class="actions"><%= f.submit %></div>

<!--<#% end %>-->
-->